:root {
    /* Colores */
    --color-primary: #212121;
    --color-secondary: linear-gradient(#212121, #212121) padding-box, linear-gradient(#e81cff, #40c9ff) border-box;
    --color-button: #9572ff; 
    --color-button-hover: #8c7bff;
    --color-button-disabled: #444444;
    --color-text: #444444;
    --color-white: #FFFFFF;

    /* Tipografía */
    --font-family: 'Inter', sans-serif;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    color: var(--color-white);
}

/* Contenedor principal */
.main-content {
    padding: 100px 150px;
    font-size: 14px;
    border-radius: 16px;
    background: var(--color-secondary);
    border: 1px solid transparent;
    display: flex;
}

/* Sección de entrada */
.input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-weight: bold;
}

.section-title {
    font-size: 20px;
    font-weight: 400;
    margin: 20px;
    text-align: center;
}

/* Input y botón */
.input-wrapper {
    display: flex;
    margin-top: 20px;
}

.input-name {
    width: 500px;
    padding: 0 20px;
    font-size: 16px;
    color: var(--color-white);
    background-color: transparent;
    border: 1px solid var(--color-text);
    border-radius: 10px 0 0 10px;
}

/* Botones */
button {
    padding: 15px 35px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 600;
    border: 1px solid var(--color-text);
    font-family: var(--font-family);
}

.button-add {
    width: 20%;
    background: var(--color-secondary);
    color: var(--color-text);
    border-radius: 0 10px 10px 0;
}

.button-add:hover {
    background: var(--color-white);
}

/* Listas */
ul {
    gap: 20px;
    list-style: none;
    display: flex;
    font-size: 20px;
    margin-top: 20px;
}

.result-list {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* Contenedor de botones */
.button-container {
    width: 500px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}

/* Estilos generales para botones grandes */
.button-draw, 
.button-restart {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 10px;
    color: var(--color-white);
}

.button-draw {
    background: var(--color-button);
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

.button-restart {
    background: var(--color-button-disabled);
}

.button-restart:hover {
    background-color: var(--color-button-hover);
}

/* Estado deshabilitado del botón */
.button-restart:disabled, 
.button-draw:disabled {
    background: var(--color-button-disabled);
    cursor: not-allowed;
}

/* Cuando el botón de reinicio está activo */
.button-restart.activo {
    background: var(--color-button);
    cursor: pointer;
}